# Supabase Configuration
VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-anon-key-publica

# Focus NF-e Tokens (Ambiente de Produção e Homologação)
VITE_FOCUS_MASTER_TOKEN=
VITE_FOCUS_NFE_TOKEN=
VITE_FOCUS_HOMOLOGACAO_TOKEN=

# InfinitePay Checkout Plan IDs / URLs
VITE_INFINITEPAY_BASICO_URL=https://invoice.infinitepay.io/plans/respiru/HwvkqORyco
VITE_INFINITEPAY_PROFISSIONAL_URL=https://invoice.infinitepay.io/plans/respiru/aZnWNexG3Y
VITE_INFINITEPAY_AGENCIA_URL=https://invoice.infinitepay.io/plans/respiru/1JNDry40A2
